.alert {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  margin: 10px 0 15px;
}

.warning {
  background-color: var(--orange-3);
  border: 1px solid var(--orange-2);
}

.danger {
  background-color: var(--red-3);
  border: 1px solid var(--red-2);
}

.info {
  background-color: var(--blue-3);
  border: 1px solid var(--blue-2);
}

.success {
  background-color: var(--green-3);
  border: 1px solid var(--green-2);
}
