.button {
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  background-color: #f6f7ff;
  border: 1px solid #e5eaff;
  color: #414d7e;
}

.primary {
  background-color: #ff8225;
  border: 1px solid #ff8225;
  color: #ffffff;
}

.link {
  display: contents;
  background: none;
  border: none;
  padding: 0;
}

.danger {
  background-color: #c50f32;
  border: 1px solid #c50f32;
  color: #ffffff;
}

.button:hover {
  transition: all 0.2s ease-out;
}

.button:disabled {
  color: #5d5d64 !important;
  border: #5d5d64 !important;
  background-color: #dcdcdc !important;
}

.default:hover {
  background-color: #ffffff;
}

.primary:hover {
  background-color: #d95b0c;
  border: 1px solid #d95b0c;
}

.danger:hover {
  background-color: #922323;
  border: 1px solid #922323;
}
