.button {
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  background-color: #ffffffe6;
  border: 1px solid #dcdcdc;
  color: #173b45;
}

.primary {
  background-color: #ff8225;
  border: 1px solid #ff8225;
  color: #ffffff;
}

.link {
  display: contents;
  background: none;
  border: none;
  padding: 0;
}

.red {
  background-color: #b43f3f;
  border: 1px solid #b43f3f;
  color: #ffffff;
}

.button:hover {
  transition: all 0.2s ease-out;
}

.default:hover {
  background-color: #f8f8f8;
}

.primary:hover {
  background-color: #d95b0c;
  border: 1px solid #d95b0c;
}

.red:hover {
  background-color: #922323;
  border: 1px solid #922323;
}
