.container_form {
  display: flex;
  align-items: center;
  height: 100vh;
}

.gradient {
  background: rgb(23, 59, 69);
  background: linear-gradient(
    170deg,
    rgba(37, 48, 94, 1) 0%,
    rgba(197, 15, 50, 1) 35%,
    rgba(255, 130, 37, 1) 76%
  );
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
}

.logo {
  height: 65px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.container_picture {
  display: flex;
  justify-content: center;
}

.picture {
  height: auto;
  max-width: 150%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 60px;
}

.form h2 {
  margin-bottom: 30px;
}
