.error_plug {
  height: 30px;
}

.error {
  color: #ffffff;
  background: #e13c3c;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}