.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto; /* Enable scrolling */
}

.wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.wrapper {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.modal {
  background-color: var(--white-0);
  border: 1px solid var(--grey-2);
  border-radius: 12px;
  width: 400px;
  padding: 20px 40px 40px;
  margin: auto; /* Ensure it stays centered when content grows */
  position: relative; /* Allow flexibility for absolute content inside */
  max-height: 90%; /* Prevent modal from exceeding viewport */
  overflow-y: auto; /* Enable scrolling for long modal content */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.modal {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.form {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: end;
  align-content: center;
}

.buttons button {
  width: 50%;
}

.buttons button:first-child {
  margin-left: 0;
}

.buttons button:last-child {
  margin-right: 0;
}
