.button { 
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  background-color: var(--blue-5);
  border: 1px solid var(--blue-4);
  color: var(--blue-1);
}

.primary {
  background-color: var(--orange-1);
  border: 1px solid var(--orange-1);
  color: var(--white-0);
}

.link {
  display: contents;
  background: none;
  border: none;
  padding: 0;
}

.danger {
  background-color: var(--red-1);
  border: 1px solid var(--red-1);
  color: var(--white-0);
}

.button:hover {
  transition: all 0.2s ease-out;
}

.button:disabled {
  color: var(--grey-0) !important;
  border: var(--grey-0) !important;
  background-color: var(--grey-2) !important;
  cursor: not-allowed;
}

.default:hover {
  background-color: var(--white-0);
}

.primary:hover {
  background-color: var(--orange-0);
  border: 1px solid var(--orange-0);
}

.danger:hover {
  background-color: var(--red-0);
  border: 1px solid var(--red-0);
}

/* Класс кнопки "Сохранить" */
.save {
  background-color: var(--green-1);    /* Зеленый фон */
  border: 1px solid var(--green-1);    /* Зеленая рамка */
  color: var(--white-0);               /* Белый текст */
}

/* Эффект наведения на кнопку "Сохранить" */
.save:hover {
  background-color: var(--green-0);    /* Более темный зеленый при наведении */
  border: 1px solid var(--green-0);    /* Рамка темнеет вместе с фоном */
}

/* Класс кнопки "Печать" */
.print {
  background-color: var(--blue-5);     /* Светло-синий фон */
  border: 1px solid var(--blue-4);     /* Синяя рамка */
  color: var(--blue-1);                /* Темно-синий текст */
}

/* Эффект наведения на кнопку "Печать" */ 
.print:hover {
  background-color: var(--white-0);    /* Белый фон при наведении */
}