.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 5px;
}

.table tr:hover td {
  background: #F5F5F7;
}

.table td,
.table th {
  text-align: left;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 10px;
}

.table th {
  font-weight: bold;
}
